*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    background: #282828;
}

.wrapper{
    /* border: 1px solid white; */
    position: absolute;
    width: 80vw;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;

}

.container{
    width: 28vmin;
    height: 28vmin;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid green;


}

i{
    color: green;
    font-size: 2.5em;
    text-align: center;

}
span.num{
    color: #fff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}
span.text{
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding: 0.7em 0;
    font-weight: 400;
    line-height: 0;
}

